# Ignore everything
*

# Un-ignore the parent dirs
!OneDrive - Microsoft/
!OneDrive - Microsoft/Documents/
!OneDrive - Microsoft/Documents/PowerShell/

# But not these files...
!.gitignore
!.zshrc
!OneDrive - Microsoft/Documents/PowerShell/Microsoft.PowerShell_profile.ps1
!.vimrc
!jamyao.zsh-theme
