# Ignore everything
*

# Allow these
!.gitignore
!.zshrc
!.vimrc
!jamyao.zsh-theme

# Un-ignore the parent dirs
!OneDrive - Microsoft/
!OneDrive - Microsoft/Documents/
!OneDrive - Microsoft/Documents/PowerShell/

# Finally, un-ignore the file
!OneDrive - Microsoft/Documents/PowerShell/Microsoft.PowerShell_profile.ps1
