# Ignore everything
*

# Allow these
!.gitignore
!.zshrc
!.vimrc
!jamyao.zsh-theme

!scripts/
!scripts/python3.cmd
!scripts/salt_chromium_src.py

!OneDrive - Microsoft/
!OneDrive - Microsoft/Documents/
!OneDrive - Microsoft/Documents/PowerShell/
!OneDrive - Microsoft/Documents/PowerShell/Microsoft.PowerShell_profile.ps1

!.dev_scripts/
!.dev_scripts/*
!.dev_scripts/repoconfig/
!.dev_scripts/repoconfig/*

# Exclude sensitive files
.dev_scripts/repoconfig/ado_pat.txt
